{{- /* Shared post list for category / section tab panels */ -}}
{{- /* Newest first by article date (front matter `date`) */ -}}
{{- $pages := sort .Pages "Date" "desc" -}}
{{- $desc := .Description | default "" -}}
{{- if not $desc -}}
  {{- with index site.Data.topics -}}
    {{- range . -}}
      {{- if eq (.name | default .Name) $.Title -}}
        {{- $desc = .description | default .Description -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $isMoments := or (eq .Title "不想上班") (eq (.Data.Term | default "") "moments") (eq (.Data.Term | default "") "不想上班") -}}

<div class="tab-panel{{ if $isMoments }} tab-panel--moments{{ end }}">
  <header class="tab-panel__header">
    <h1 class="tab-panel__title">{{ .Title }}</h1>
    {{- if $desc }}
    <p class="tab-panel__lede">{{ $desc | markdownify }}</p>
    {{- end }}
  </header>

  {{- if $pages }}
    {{- if $isMoments }}
  <ul class="moments-stream">
    {{- range $pages }}
    <li class="moments-stream__item{{ if .Params.hideDate }} moments-stream__item--no-date{{ end }}">
      {{- if not .Params.hideDate }}
      <time class="moments-stream__date" datetime="{{ .Date.Format "2006-01-02" }}">
        {{- .Date.Format "2006年1月2日" -}}
      </time>
      {{- end }}
      <div class="moments-stream__note">
        <a class="moments-stream__title" href="{{ .RelPermalink }}">{{ .Title }}</a>
        <div class="moments-stream__body md-content">
          {{ .Content }}
        </div>
      </div>
    </li>
    {{- end }}
  </ul>
    {{- else }}
  <ul class="tab-panel__list">
    {{- range $pages }}
    <li class="tab-panel__item">
      <a class="tab-panel__link" href="{{ .RelPermalink }}">
        <time class="tab-panel__date" datetime="{{ .Date.Format "2006-01-02" }}">
          {{- .Date.Format "2006年1月2日" -}}
        </time>
        <span class="tab-panel__item-title">{{ .Title }}</span>
        {{- with .Summary }}
        <span class="tab-panel__summary">{{ . | plainify | htmlUnescape | truncate 100 }}</span>
        {{- end }}
      </a>
    </li>
    {{- end }}
  </ul>
    {{- end }}
  {{- else }}
  <p class="tab-panel__empty">还没有文章。写一篇并加上分类「{{ .Title }}」就会出现在这里。</p>
  {{- end }}
</div>
